<div class="notice">
  <%= flash[:notice] %>
</div>
<h1>Books</h1>

<table>
<tr>
  <th>Title</th>
  <th>Body</th>
  <th colspan="3"></th>
</tr>
<tr>
  <% @all_books.each do |all_book| %>
  <tr>
    <td><%= all_book.title %></td>
    <td><%= all_book.body %></td>
    <td>
      <%= link_to "Show", book_path(all_book.id)%>
    </td>
    <td>
      <%= link_to "Edit", edit_book_path(all_book.id)%>
    </td>
    <td>
      <%= link_to "Destroy", book_path(all_book.id), method: :delete, "data-confirm" => "Are you sure?" %>
    </td>
  </tr>
  <% end %>
</tr>
</table>
<h2>New book</h2>

<% if @book_new.errors.any? %>
<div class="error">
  <h2 class="error_message"><%= @book_new.errors.count %> error prohibited this book from being saved:</h2>
  <ul>
    <% @book_new.errors.full_messages.each do |message| %>
    <li class="error_detail"><%= message %></li>
    <% end %>
  </ul>
</div>
<%end %>

<%= form_with model: @book_new do |f|%>
  <div class="field">
    <label>Title</label>
      <%= f.text_field :title %>
  </div>

  <div class="field">
    <label>Body</label>
      <%= f.text_area :body %>
  </div>

  <div class="action">
    <%=f.submit 'Create Book'%>
  </div>

<%end%>